<div class="top-editor-container">
	<%= form_with model: @article, html: { id: "article-form" } do |f| %>
		<div class="title-form-container">
			<%= f.text_field :title, value: "Title", id: "title-form" %>
		</div>

		<div class="form-group">
			<%= f.hidden_field :description, required: true %>
				<div id="article-editor"></div>
			<%= f.submit %> 
		</div>
	<% end %>
</div>

<script>
	var form = document.querySelector("#article-form");
    
	function imageHandler() {
		var range = this.quill.getSelection();
		var value = prompt('What is the image URL');
		this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
	}

	var quill = new Quill("#article-editor", {
	  	modules: {
	    	toolbar: [
		        [{ header: [1, 2, false] }],
		        
		        ['bold', 'italic', 'underline'],
		        ['image', 'code-block'],
		        
		        [{ align: [] }],
        	    
		    ],
		},
	    placeholder: 'Start a Post',
	    theme: 'snow',
	    handlers: {
            'image': imageHandler
        }
	});

	form.onsubmit = function() {
		var postContentInput = document.querySelector("#article_description");
		postContentInput.value = quill.root.innerHTML;
	};
</script>
