@import './colors';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$article-width: 900px;

.top-editor-container {
	margin-top: 80px;
	width: $article-width;

	.ql-editor {
		min-height: 300px;	
	}

	input[type="submit"] {
	    background-color: $button;
	    color: $header-text;
	    border: none;
	    font-family: Rajdhani;
	    font-style: italic;
	    border-radius: 5px;
	    margin-top: 6px;
	    float: right;
	}
}

.title-form-container {
	width: 100%;
	margin-bottom: 12px;

	input {
	    font-family: Rajdhani;
	    font-weight: bold;
    	font-size: 48px;
		padding: 10px 10px 7px 15px;
		border: none;
		width: calc(100% - 27px);
		background-color: $article-background;
		text-align: center;
	}
}

.article {
	&-list, &-single-container {
		width: $article-width;

		@media only screen and (max-width: 1200px) {
			width: 85%;
		}
	}

	&-container {
		background-color: $article-background;
		padding: 0 66px 66px 66px;
		margin: 80px 0 80px 0;

		img {
			// ZOINKS
			max-width: 100%;
		}

		p {
			margin: 0;
			line-height: 1.5;
		}
	}

	&-actions {
		height: 66px;
		font-family: Roboto;
		font-size: 18px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: -36px;
		span {
			margin-left: 12px;
		}
	}

	&-header {
		margin-bottom: 60px;
	}

	&-date {
		font-family: Rajdhani;
		display: flex;
		justify-content: center;
		font-size: 32px;
	}

	&-title {
		text-align: center;
		font-family: Rajdhani;
		font-size: 48px;
		margin: 10px;
	} 	

	&-body {
		font-size: 18px;
		font-family: Roboto;
	}
}

