@import url('https://fonts.googleapis.com/css?family=Rajdhani');

$header-text: #faed26;
$header-background: #5a5560;
$main-background: #272727;

html,
body {
	margin: 0;
	height: 100%;
}

h1 {
    font-family: Rajdhani;
    color: $header-text;
    margin: 0;
    display: flex;
    font-style: italic;
    height: 100%;
    align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header-bar {
	padding: 12px;
	align-items: center; 
	background-color: $header-background;
}

.main {
	background-color: $main-background;
	height: 100%;
	display: flex;
	justify-content: center;
}

img {
	height: 60px;
	border-radius: 60px;
	margin-right: 12px;
}
