@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import './colors';

html,
body {
	margin: 0;
	height: 100%;
	background-color: $main-background;
	padding-bottom: 30px
}

$side-bar-width: 244px;

.header {
	&-bar {
		align-items: center; 
		background-color: $header-background;
		width: $side-bar-width;
		position: fixed;
		height: 100%;

		@media (max-width: 940px) {
			display: none;
		}

		&-mobile {
			background-color: #5a5560;
    		display: flex;
    		padding: 12px;
    		align-items: center;
			justify-content: center;

			@media (min-width: 940px) {
				display: none;			
			}
		}
	}

	&-text {
		font-family: Rajdhani;
		font-size: 48px;
		color: $header-text;
		margin: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
	
		@media (max-width: 940px) {
			font-size: 32px;
		}
	}
}

.nav-list {
	display: flex;
	flex-direction: column;	
	align-items: center;
	font-family: Roboto;

	a {
		margin-top: 20px;
	}

	i {
		font-size: 36px;
		color: $links;

		&:hover {
			color: $hover;
		}
	}
}

.container {
	display: flex;
	flex-direction: row;
	height: 100%;

	@media (max-width: 940px) {
		flex-direction: column;			
	}
}

.main {
	height: 100%;
	width: calc(100% - #{$side-bar-width});
	display: flex;
	justify-content: center;
	margin-left: calc(#{$side-bar-width} / 2);

	@media (max-width: 1600px) {
		margin-left: $side-bar-width;
	}

	@media (max-width: 940px) {
		margin-left: 0;
		width: 100%;
	}
}
	

.portrait {
	height: 180px;
	border-radius: 100px;
	margin: 72px 30px 36px;
	box-shadow: 0 0 0 1pt $header-text;

	&-mobile {
		height: 80px;
		border-radius: 80px;
		box-shadow: 0 0 0 1pt $header-text;
		margin-right: 18px;
	}
}