@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import './colors';

html,
body {
	margin: 0;
	height: 100%;
	background-color: $main-background;
	padding-bottom: 30px
}

.header {
	&-bar {
		padding: 12px;
		align-items: center; 
		background-color: $header-background;
	}

	&-text {
		font-family: Rajdhani;
		color: $header-text;
		margin: 0;
		display: flex;
		font-style: italic;
		height: 100%;
		align-items: center;
	}
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main {
	height: 100%;
	display: flex;
	justify-content: center;
}

img {
	height: 60px;
	border-radius: 60px;
	margin-right: 12px;
}
